<div role="tabpanel" class="tab-pane config-section" id="accounts">
	<form method="POST" autocomplete="off" class="w-100">

		<div class="form-group">
			<label>
				Whitelist de emails
				<small class="form-text text-muted">
					Domínios de email que os usuários podem usar para registrar.
				</small>
			</label>
			<input class="form-control" id='domain-whitelist' name='domain_whitelist' type='text'
				   placeholder=""
				   {% if domain_whitelist is defined and domain_whitelist != None %}value="{{ domain_whitelist }}"{% endif %}>
			<small class="form-text text-muted">
				e.g. ctfd.io,gmail.com,yahoo.com
			</small>
		</div>

		<div class="form-group">
			<label>
				Verificar emails<br>
				<small class="form-text text-muted">
					Controlar se os usuários devem verificar o email antes de jogar.
				</small>
			</label>
			<select class="form-control custom-select" name="verify_emails">
				<option value="true" {% if verify_emails == True %}selected{% endif %}>Habilitado</option>
				<option value="false" {% if verify_emails == False or verify_emails == None %}selected{% endif %}>Desabilitado</option>
			</select>
		</div>

		<div class="form-group">
			<label>
				Tamanho do time<br>
				<small class="form-text text-muted">
					Quantidade de usuários por membros do time
				</small>
			</label>
			<input class="form-control" id="team_size" name="team_size" type="number" min="0" {% if team_size %}value="{{ team_size }}"{% endif %}>
		</div>

		<div class="form-group">
			<label>
				Mudanças de nome<br>
				<small class="form-text text-muted">
					Controla se os usuários podem mudar seus nomes
				</small>
			</label>
			<select class="form-control custom-select" name="name_changes">
				<option value="true" {% if name_changes == True or name_changes == None %}selected{% endif %}>Habilitado</option>
				<option value="false" {% if name_changes == False %}selected{% endif %}>Desabilitado</option>
			</select>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">Atualizar</button>
	</form>
</div>
