{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Reset</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<form method="POST" id="reset-ctf-form">
					<div class="alert alert-danger" role="alert">
						<p>
							Resetar seu CTF irá deletar todos os dados de usuários e times. Pense carinhosamente porque
							nenhum backup automatico é feito e todos os dados que não são de desafios serão perdidos.
						</p>

						<span>
							<strong>
								Crie um backup de todos os seus dados <a href="{{ url_for('admin.config', _anchor='backup') }}">criando um CTFd Export</a>
								ou copiando o banco e código fonte do CTFd.
							</strong>
						</span>
					</div>

					<input id="nonce" type="hidden" name="nonce" value="{{ nonce }}">

					<button class="btn btn-warning btn-lg btn-block">
						Resetar CTF
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block entrypoint %}
	<script defer src="{{ url_for('views.themes', theme='admin', path='js/pages/reset.js') }}"></script>
{% endblock %}
